*~
*.blend1

# Lazarus
*.lps
backup
lib

# output
*.exe
*.dll
*.res
3d_game/my_game
3d_game_alternative_using_castlecontrol/my_game_castlecontrol
3d_game_alternative_using_castlecontrol/my_game_castlecontrol.res
castle-engine-output
*.apk